.container {
    max-width: 800px;
    margin: 20px auto;
    display: grid;
    grid-template-rows: 100px 1fr 100px 80px;
    grid-gap: 20px;
}
@media(max-width:670px) {
    .container {
        grid-template-rows: 150px 1fr 100px 80px;

    }
}