.form {
    text-align: center;
}

.form__fieldset {
    padding: 30px;
    border: 2px solid teal;
    background-color: #eee;
}

.form__legend {
    background-color: teal;
    padding: 10px;
    font-weight: 800;
}

@media(max-width:530px) {
    .flexbox {
        display: flex;
        flex-flow: column;
    }
}