html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  background-image: url("images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}